html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  @include f-r;
  font-size: 13px;
  line-height: 20px;
  color: $grey;
  // overflow-x: hidden;
  position: relative;
  // min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
}

a {
  display: inline-block;
  color: inherit;
  line-height: inherit;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 1200px) {
  .container-fluid {
    padding: 0 15px;
  }
}
